.dropdown {
  position: relative;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  &-label {
    display: flex;
    gap: 12px;
    @media (max-width: 376px) {
      justify-content: space-between;
    }
  }

  span{
    padding-right: 35px;
  }

  &-options {
    position: absolute;
    min-width: 180px;
    top: 86%;
    left: 0;
    z-index: 10;
    width: 92%;
    list-style: none;
    padding-left: 1rem;
    cursor: pointer;
    background-color: var(--color-secundary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    li {
      padding: 0.5rem;
    }
    li:hover{
      color: rgb(117, 110, 110);
      transition: .3s;
    }
  }
}
