.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  height: 83vh;

  @media (max-width: 800px) {
    margin-top: 20px;

    h1{
      font-size: 30px;
    }
  }

  &_button {
    background-color: #fff;
    padding: 8px;
    font-size: 20px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: var(--border-radius);
    width: 125px;

    &:hover{
      background-color: rgb(192, 189, 189);
      transition: .3s;
    }

    @media (max-width: 800px) {
      font-size: 15px;
      padding: 4px;
      width: 95px;
    }
  }

  &_card {
    display: grid;
    align-items: center;
    width: 40%;
    margin-top: 35px;
    text-align: center;
    background: var(--color-secundary) none repeat scroll 0 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 30px;

    @media (max-width: 800px) {
      width: 337px;
    }

    &_info {
      overflow-wrap: anywhere;
      font-size: 20px;


      @media (max-width: 450px) {
        font-size: 16px;
      }

    }
    &_info a {
      color: #0099ff;
      text-decoration: none;
    }
  }
}
