<div class="characters-filters">
  <app-drop-down
    placeholder="Filter by Status"
    [options]="statusOptions"
    [(value)]="statusFilter"
  ></app-drop-down>
</div>

<section class="container-home">
  <div *ngFor="let character of characters | select:statusFilter">
    <app-card-character [character]="character"></app-card-character>
  </div>
</section>

<div class="pagination">
  <ngb-pagination
    [collectionSize]="420"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    (pageChange)="loadNextPage()"
  >
  </ngb-pagination>
</div>
